{% extends 'base_restaurant.html' %}
{% load static %}
{% block content %}
<div class="breadcrumb-bar">
</div>
<div class="content" style="transform: none; min-height: 107.24px;">
<div class="container" style="transform: none;">
	<div class="row" style="transform: none;">
		<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
			<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 73.6667px;"><div class="profile-sidebar">
				<div class="widget-profile pro-widget-content">
					<div class="profile-info-widget">
						<a href="#" class="booking-doc-img">
							<img src="{% static 'img/guest_logo.png' %}" alt="User Image">
						</a>
						<div class="profile-det-info">
							<h3>{{user.get_full_name}}</h3>
							<div class="guest-details">
								<h5>User Role: {% if receiver.is_company %} Restaurant {% else %} Guest {% endif %}</h5>
								{% if receiver.is_company %}
								<h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{receiver.restaurant.city}}</h5>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="dashboard-widget">
					<nav class="dashboard-menu">
						<ul>
						</ul>
					</nav>
				</div>
			</div><div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 295px; height: 1171px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div></div></div>
			<div class="col-md-7 col-lg-8 col-xl-9">
				<div class="doc-review review-listing custom-edit-service">
					<div class="row mb-5">
						<div class="col-auto">
							<a class="btn btn-primary btn-sm" href="{% url 'diagnosis:create_restaurant_request' %}"><i class="fas fa-plus me-1"></i>Create Donor Request</a>
						</div>
					</div>

                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Donation request list</h4>
                        </div>
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-tabs-solid nav-justified" role="tablist">
                                <li class="nav-item" role="presentation"><a class="nav-link active" href="#solid-justified-tab1" data-bs-toggle="tab" aria-selected="true" role="tab">List of all donation requests</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" href="#solid-justified-tab2" data-bs-toggle="tab" aria-selected="false" role="tab" tabindex="-1">My donation requests</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active show" id="solid-justified-tab1" role="tabpanel">
                                {% for request in all_requests %}
                                <div class="card">
                                    <div class="card-body">
                                        <div class="restaurant-widget">
                                            <div class="doc-info-left">
                                                <div class="doc-info-cont">
                                                    <h4 class="doc-name mb-2"><a href="pharmacy-details.html">{{ request.title }}</a></h4>
                                                    <div class="rating mb-2">
                                                        Number of responses:
                                                        <span class="d-inline-block average-rating">{{ request.response_count }}</span>
                                                    </div>
                                                    <div class="clinic-details">
                                                        <div class="clini-infos pt-3">
                                                            <p class="doc-location mb-2">{{ request.description }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                </div>
                                <div class="tab-pane" id="solid-justified-tab2" role="tabpanel">
                                {% if restaurant_own_requests %}
                                    {% for request in restaurant_own_requests %}
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="restaurant-widget">
                                                <div class="doc-info-left">
                                                    <div class="doc-info-cont">
                                                        <h4 class="doc-name mb-2"><a href="pharmacy-details.html">{{ request.title }}</a></h4>
                                                        <div class="rating mb-2">
                                                            Description:
                                                            <span class="d-inline-block average-rating">{{ request.description }}</span>
                                                        </div>
                                                        <div class="clinic-details">
                                                            <div class="clini-infos pt-3">
                                                                <p class="doc-location mb-2"></p>
                                                                <h4>Responses:</h4>
                                                                <ul>
                                                                    {% for response in request.clientrequest_set.all %}
                                                                    <li>{{ response.client_profile.guest.user.get_full_name }} - {{ response.created_at }}<br>
                                                                        {{ response.client_profile.guest.email }} - {{ response.client_profile.guest.phone_number }}</li>
                                                                    {% empty %}
                                                                    <li>There are no responses to this request yet.</li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="doc-info-right">
                                                    <div class="clinic-booking">
                                                        <a class="apt-btn" href="{% url 'diagnosis:edit_restaurant_request' request.id %}">Edit</a>
                                                        <a class="btn btn-danger" href="{% url 'diagnosis:delete_restaurant_request' request.id %}" onclick="return confirm('Are you sure?');">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
