{% extends 'base.html' %}
{% load static %}
{% load booking_tags %}
{% block content %}
<div class="breadcrumb-bar">
</div>


			<div class="content" style="transform: none; min-height: 107.24px;">
				<div class="container" style="transform: none;">
					<div class="row" style="transform: none;">
						<div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">



							<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 73.6667px;"><div class="card search-filter">
								<div class="card-header">
									<h4 class="card-title mb-0">Іздеу</h4>
								</div>
								<div class="card-body">
									<form action="{% url 'booking:restaurant_list' %}" method="get">
										<div class="filter-widget">
											<div>
												<label for="">Мейрамхана атауы</label>
												<input type="search" class="form-control" {% if search_text %} value="{{search_text}}" {% endif %} name="search_text" placeholder="Мейрамханаларды іздеу">
											</div>
											<br>
											<div>
												<label for="">Минимум баға</label>
												<input type="number" class="form-control" {% if min_price %} value="{{min_price}}" {% endif %} name="min_price" placeholder="Мин. баға">

												<br>
												<label for="">Максимум баға</label>
												<input type="number" class="form-control" {% if max_price %} value="{{max_price}}" {% endif %} name="max_price" placeholder="Макс. баға">
											</div><br>
											<div>
												<label for="">Қаланы таңдаңыз</label>
												<select class="form-control" name="city">
													<option value="">Қаланы таңдаңыз</option>
													{% for city in cities %}
														<option value="{{ city.id }}">{{ city.name }}</option>
													{% endfor %}
												</select>
											</div><br>
											<div>
												<label for="">Күні бойынша таңдау</label>
												<input type="date" class="form-control" name="date" placeholder="Күнді таңдаңыз">
											</div>
											<div>
        <label for="time">Уакыты:</label>
        <select id="time" name="time" onchange="ensureDateSelected()" class="form-control">
            <option value="">Уакытты танданыз</option>
            <option value="11am" {% if time_filter == '11am' %}selected{% endif %}>11 AM</option>
            <option value="5pm" {% if time_filter == '5pm' %}selected{% endif %}>5 PM</option>
        </select>
    </div>
											<div>
											<label for="min_seats">Орын саны:</label>
											<input type="number" class="form-control" id="min_seats" name="min_seats" value="{{ min_seats }}">
										</div>
										</div>
										<div class="btn-search">
											<button type="submit" class="btn w-100">Іздеу</button>
										</div>

									</form>

								</div>
							</div><div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 295px; height: 1702px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div></div></div>
							<div class="col-md-12 col-lg-8 col-xl-9">
							{% for restaurant in restaurants %}
								<div class="card">
									<div class="card-body">
										<div class="restaurant-widget">
											<div class="doc-info-left">
												<div class="restaurant-img">
													<a href="{% url 'booking:restaurant_detail' restaurant.id %}">
														<img src="{{restaurant.photo.url}}" class="img-fluid" alt="User Image">
													</a>
												</div>
												<div class="doc-info-cont">
													<h4 class="doc-name"><a href="{% url 'booking:restaurant_detail' restaurant.id %}">Мейрамхана - {{restaurant.user.get_full_name}}</a></h4>
													<p class="doc-speciality">
    <ul style="color: gray;">
        {% for service in restaurant.services.all %}
            <li>{{ service.name }}</li>
        {% endfor %}
    </ul>
</p>

													<h5 class="doc-department">
														{% for specialty in restaurant.specialties.all %}
                                            				{{ specialty.name }}
                                       					{% endfor %}
													</h5>
													<div class="rating">
														{% render_stars restaurant.pk %}
                                        				<span class="d-inline-block average-rating">({% get_restaurant_reviews_count restaurant_pk=restaurant.pk %})</span>
													</div>
													<div class="clinic-details">
														<p class="doc-location"><i class="fas fa-map-marker-alt"></i>{{restaurant.city.name}}</p>
													</div>
												</div>
											</div>
											<div class="doc-info-right">
												<div class="clini-infos">
													<ul>
														<li><i class="far fa-thumbs-up"></i> {% get_restaurant_rating restaurant_pk=restaurant.pk %}</li>
														<li><i class="far fa-comment"></i> {% get_restaurant_reviews_count restaurant_pk=restaurant.pk %}</li>
														<li><i class="fas fa-map-marker-alt"></i> {{restaurant.city.name}}</li>
														<li><i class="far fa-money-bill-alt"></i> {{restaurant.price}} <i class="fas fa-info-circle" data-bs-toggle="tooltip" aria-label="Lorem Ipsum" data-bs-original-title="Lorem Ipsum"></i></li>
														<li><i class="fa-solid fa-chair" data-bs-toggle="tooltip" aria-label="Lorem Ipsum" data-bs-original-title="Lorem Ipsum"></i> {{restaurant.seats}}</li>
													</ul>
												</div>
												<div class="clinic-booking">
													<a class="view-pro-btn" href="{% url 'booking:restaurant_detail' restaurant.id %}">Мейрамхана туралы</a>
													<a class="apt-btn" href="{% url 'booking:restaurant_detail' restaurant.id %}">Қазір брондау</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>

<script>
function ensureDateSelected() {
    var timeSelect = document.getElementById('time');
    var dateInput = document.getElementById('date');
    if (timeSelect.value && !dateInput.value) {
        alert('Датаны уакытымен танданыз.');
        timeSelect.value = '';
    }
}
</script>

{% endblock %}